<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
</head>
<body>

<h2>Employee List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Joining Date</th>
        <th>Action</th>
    </tr>

    <tr th:each="emp : ${employees}">
        <td th:text="${emp.employeeId}"></td>
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.email}"></td>
        <td th:text="${emp.department}"></td>
        <td th:text="${emp.joiningDate}"></td>
        <td>
            <a th:href="@{'/deleteEmployee/' + ${emp.employeeId}}">Delete</a>
        </td>
    </tr>
</table>

<br/>
<a href="/addEmployee">Add Employee</a>

</body>
</html>