<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave Requests</title>
</head>
<body>

<h2>Leave Requests</h2>

<table border="1">
    <tr>
        <th>Request ID</th>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="req : ${requests}">
        <td th:text="${req.requestId}"></td>
        <td th:text="${req.employee.name}"></td>
        <td th:text="${req.leaveType.leaveName}"></td>
        <td th:text="${req.startDate}"></td>
        <td th:text="${req.endDate}"></td>
        <td th:text="${req.status}"></td>
        <td>
            <a th:href="@{'/approve/' + ${req.requestId}}">Approve</a> |
            <a th:href="@{'/reject/' + ${req.requestId}}">Reject</a>
        </td>
    </tr>
</table>

<br/>
<a href="/applyLeave">Apply Leave</a>

</body>
</html>