<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave Types</title>
</head>
<body>

<h2>Leave Types</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Leave Name</th>
        <th>Max Days Allowed</th>
    </tr>

    <tr th:each="type : ${leaveTypes}">
        <td th:text="${type.leaveTypeId}"></td>
        <td th:text="${type.leaveName}"></td>
        <td th:text="${type.maxDaysAllowed}"></td>
    </tr>
</table>

<a href="/addLeaveType">Add New Leave Type</a>

</body>
</html>